table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    width: 95px;
}

td {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 45px;
}

td.info {
    text-align: right;
}

td.name {
    text-align: left;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}