@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header {
    width: 100%;
    height: 100px;
    background: #4B6F44;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 0 20px;
}

.logo img {
    height: 105px;
}

.tagline {
    font-family: cursive;
    color: white;
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
}

.nav {
    display: flex;
    gap: 20px; /* Space between nav items */
}

.nav a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 30px;
    color: white;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

.nav a:hover {
    color: black;
    background: #fff;
}

.banner-area {
    background-image: url(images/banner.png);
    background-size:100% 1000px;
    background-repeat: repeat-y;
    background-position: center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner-area:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 100%;
    z-index: -1;
}

.content-area {
    width: 100%;
    height: 100%;
    position:relative;
    background: #f5f7d4;
    top: 600px;
}

.content-area h2 {
    font-size: 40px;
    margin: 0px;
    padding-top: 30px;
    letter-spacing: 4px;
}

.content-area p {
    padding:50px;
    line-height: 35px;
    text-align: justify;
}

.content-area h3 {
    font-family: "Sour Gummy", serif;
    font-size: 25px;
}

ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 500px;
    letter-spacing: 5px;
    line-height: 50px;
}

.column-area {
    position: flex;
    justify-content: space-between;
    width: 100%;
    background: #c5f7a1;
    padding: 30px 50px;
    
}

.column-area h2 {
    font-size: 40px;
    margin: 0px;
    letter-spacing: 4px;
    float: left;
}

.columns {
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    width: 48%;
    padding: 0px 35px;
}

.column ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 0px;
    letter-spacing: 5px;
    line-height: 40px;
}

.CTA-area {
    width: 100%;
    height: 450px;
    position:relative;
    background-image: url(img/CTA.jpg);
    background-size:100% 1000px;
    background-repeat: repeat-y;
    background-position: center;
}

.CTA-area h1 {
    font-family: "Sour Gummy", serif;
    font-size: 100px;
    color: white;
    line-height: 150px;
    z-index: 2;
    position: relative;
}

.CTA-area::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.CTA-area p {
    position: relative;
    font-family: "Sour Gummy", serif;
    font-size: 25px;
    text-align: center;
    color: white;
    z-index: 2;
}

.CTA-area button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    z-index: 3;
    position: relative;
    padding: 5px;
}

.CTA-area button:hover {
    color: white;
    background:rgb(3, 126, 3)
}

.content-area a {
    font-family: "Sour Gummy", serif;
    font-size: 20px;
}